<mat-toolbar>
    <div class="centrar">Listado de festivos</div>
</mat-toolbar>
<div>
    <mat-form-field appearance="fill">
    <mat-label>Año</mat-label>
    <input matInput [(ngModel)]="anioBusqueda">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="listar()">Buscar festivos</button>
</div>
<div>
    <ngx-datatable class="dark" [rows]="festivos" [columns]="columnas" [limit]="8"
    [headerHeight]="50" [footerHeight]="50" [columnMode]="modoColumna.force"
    [rowHeight]="'auto'"
    ></ngx-datatable>
</div>